How much would you like to give us? <input type="text" id="orderAmount" />
<br/>
<button class="btn" id="submitIt">Checkout</button>



<div id="results">



</div>

@section Scripts{
<script type="text/javascript">
    var hubProxy = $.connection.ordersHub;
    hubProxy.client.showOrderConfirmation = function (msg) {
        $('#submitIt').removeAttr("disabled");
        $('#results').append("<div class='blue'>Order #<b>" + msg.OrderId + "</b> in the amount of $" + msg.Amount + " has been <b>processed</b>.");
    };
    hubProxy.client.showShippingConfirmation = function (msg) {
        $('#submitIt').removeAttr("disabled");
        $('#results').append("<div class='green'>Order #<b>" + msg.OrderId + "</b> in the amount of $" + msg.Amount + " has been <b>shipped</b>.");
    };
    
    $.connection.hub.start().done(function () {

    });

    $('#submitIt').click(function () {
        $('#submitIt').attr("disabled", "disabled");
        var data = {};
        data.amount = $("#orderAmount").val();
        data.customerId = $.connection.ordersHub.connection.id
        $.post('/api/Order', data);

    })
</script>
    }